<div class="roller dialog" id="roller-template" title="Roll Dice">
    <div class="inputs">
        <div>
            <button class="diff up">▲</button>
            <br>
            <input type="text" name="d" min="0" value="2">
            <br>
            <button class="diff down">▼</button>
            <br>
            <label>d6</label>
        </div>
        <div>
            <button class="diff up">▲</button>
            <br>
            <input type="text" name="b" min="0" value="0">
            <br>
            <button class="diff down">▼</button>
            <br>
            <label>B</label>
        </div>
        <div>
            <button class="diff up">▲</button>
            <br>
            <input type="text" name="r" value="0">
            <br>
            <button class="diff down">▼</button>
            <br>
            <label>+</label>
        </div>
    </div>
    <div class="results">
        <div class="output">
            <span class="taken">6 6 5 5 4 4</span>
            <span class="dropped">3 2 1 1</span>
        </div>
        <div class="added">+2</div>
        <div class="total">32</div>
    </div>
</div>
