<div id="abilities">
    <div id="standard" class="abilities">
        <div class="left"></div>
        <div class="right"></div>
    </div>
    <div id="languages" class="abilities">
        <div class="left"></div>
        <div class="right"></div>
    </div>
    <div id="experience-pool">
        <label for="by-creation">Character Creation</label>
        <input id="by-creation" type="radio" value="creation" name="pool">
        <label for="by-play">Normal Play</label>
        <input id="by-play" type="radio" value="play" name="pool">
        <label for="by-free">Free</label>
        <input id="by-free" type="radio" value="free" name="pool">
    </div>
    <div id="ability-mode">
        <label for="editing-abilities">edit</label>
        <input id="editing-abilities" type="radio" value="true" name="editing">
        <label for="rolling-abilities">roll</label>
        <input id="rolling-abilities" type="radio" value="false" name="editing">
    </div>
    <button id="free-roll">custom roll</button>
</div>
