<div id="notes">
    <ul>
        <li><a href="#general">General</a></li>
        <li><a href="#family">Family</a></li>
        <li><a href="#allies">Allies</a></li>
        <li><a href="#enemies">Enemies</a></li>
        <li><a href="#acquaintances">Acquaintances</a></li>
        <li><a href="#history">History</a></li>
    </ul>
    <textarea id="general"></textarea>
    <textarea id="family"></textarea>
    <textarea id="allies"></textarea>
    <textarea id="enemies"></textarea>
    <textarea id="history"></textarea>
</div>
