<div id="quality-dialog" class="quality dialog detail">
</div>

<div id="benefit-reference" class="quality dialog list" title="Benefits">
</div>

<div id="drawback-reference" class="quality dialog list" title="Benefits">
</div>

<div id="benefitSource-dialog" class="quality dialog source" title="Benefit source">
    <span class="question">How did you get this benefit?</span>
    <form class="buttonset">
        <label for="benefit-was-plot" title="I got this benefit through the story">plot</label>
        <input type="radio" id="benefit-was-plot" name="source" value="plot">
        <label for="benefit-was-investment" title="I invested a destiny point in this benefit">investment</label>
        <input type="radio" id="benefit-was-investment" name="source" value="investment" checked>
    </form>
</div>

<div id="drawbackSource-dialog" class="quality dialog source" title="Benefit source">
    <span class="question">How did you get this drawback?</span>
    <form class="buttonset">
        <label for="drawback-was-age" title="this drawback fulfills an age requirement">age</label>
        <input type="radio" id="drawback-was-age" name="source" value="age">
        <label for="drawback-was-innate" title="this is the drawback that my characters started with">innate</label>
        <input type="radio" id="drawback-was-innate" name="source" value="innate">
        <label for="drawback-was-plot" title="I got this through the story">plot</label>
        <input type="radio" id="drawback-was-plot" name="source" value="plot">
        <label for="drawback-was-for-destiny" title="I took this drawback for a destiny poin">for destiny</label>
        <input type="radio" id="drawback-was-for-destiny" name="source" value="for destiny" checked>
    </form>
</div>
