<div class="dialog" id="destiny-dialog" title="New Destiny">
    <p>What did you do for this destiny?</p>
    <div class="options">
        <label for="given-destiny">I won it</label>
        <input type="radio" id="given-destiny" name="destiny-source" checked>
        <label for="bought-destiny">I bought it</label>
        <input type="radio" id="bought-destiny" name="destiny-source">
    </div>
    <div class="how">
        <input name="how" placeholder="By completing a quest...">
    </div>
</div>
