<div id="settings-dialog" title="Settings">
    <table class="ordered">
        <tr>
            <th>Autosave</th>
            <td>
                <div id="autosave-buttonset" class="buttonset">
                    <label for="autosave-on">on</label>
                    <input type="radio" name="autosave" value="on" id="autosave-on" checked>
                    <label for="autosave-off">off</label>
                    <input type="radio" name="autosave" value="off" id="autosave-off">
                </div>
            </td>
        </tr>
    </table>
</div>
